/* src/pages/write/write.css */
.write {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.writeForm {
  width: 70%;
  margin-top: 20px;
}

.writeFormGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.writeInput {
  padding: 10px;
  font-size: 18px;
}

.writeText {
  height: 200px;
  resize: none;
}

.writeButton {
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.writeButton:hover {
  background-color: coral;
}

.error {
  color: red;
  margin-top: 10px;
}
