/* src/pages/login/login.css */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.loginTitle {
  font-size: 24px;
  font-weight: bold;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.loginInput {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginButton,
.loginRegisterButton {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton:hover,
.loginRegisterButton:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 15px;
}
